.content {
  /* border-width: 5px;
  border-style: solid;
  border-color: green; */
  border: 5px solid;
  border-color: green red blueviolet blue;
  /* border-bottom-color: red; */
  /* border-bottom: 10px double red; */
  /* padding: 20px; */
  /* padding-top: 10px;
  padding-left: 20px;
  padding-right: 30px;
  padding-bottom: 40px; */
  padding: 10px 20px 30px 40px;
  /* margin: 0 20px 30px 40px; */
  /* margin-left: 10px;
  margin-right: 20px;
  margin-top: 30px; */
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

/*
Công thức: 
border-width
border-style
border-color

border-{side}-width
border-{side}-style
border-{side}-color

side: top, left, right, bottom

border: width style color
border-{side}: width style color
*/
