* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}
/* body {
  margin: 0;
}
.box {
  border: 5px solid red;
  padding: 20px;
  width: 800px;
  min-width: 400px;
  max-width: 100%;
  height: 50%;
  box-sizing: border-box;
}
.container {
  width: 400px;
  height: 400px;
  border: 5px solid blueviolet;
} */
body {
  padding: 30px;
}
span {
  display: inline-block;
  border: 1px solid red;
  padding: 10px;
  width: 100px;
  height: 50px;
}
.link {
  text-decoration: none;
  border: 1px solid green;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 100px;
}
.circle {
  width: 200px;
  height: 200px;
  background: #000;
  border-radius: 50%;
}
