* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}
.box {
  width: 80%;
  height: 300px;
  margin: 30px auto;
  border: 1px solid red;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  /* gap: 10px 20px; */
}
.item {
  background: green;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px;
  /* flex-basis: 25%; */
  /* flex-shrink: 0; */
  flex: 0 1 25%;
}

.item:nth-child(2) {
  order: -1;
}
.item:nth-child(1) {
  order: 1;
}
.item:nth-child(3) {
  align-self: flex-end;
}

.content {
  max-width: 80%;
  margin: 30px auto;
  border: 1px solid red;
}

ul {
  list-style: lower-alpha inside;
}
