* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}
.header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
}
.header .nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 15px;
}
.header .nav .menu {
  display: flex;
  list-style: none;
}
.header .nav a {
  color: #333;
  text-decoration: none;
  display: block;
}
.header .nav .menu a {
  padding: 5px 15px;
}
.header .nav .contact-btn {
  background: rgb(2, 124, 190);
  color: #fff;
  padding: 7px 25px;
  border-radius: 99px;
}
.header .nav .contact-btn:hover {
  background: rgb(2, 100, 152);
}
