/* html,
body {
  height: 100%;
} */
body {
  height: 2000px;
  /* background-color: yellow;
  background-image: url("https://images.unsplash.com/photo-1769109002468-85f8a39d5ccd?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-attachment: fixed; */
  background: yellow
    url("https://images.unsplash.com/photo-1769109002468-85f8a39d5ccd?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat fixed 0 0 / cover;
}
/* p {
  background: blueviolet;
} */
